In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
olympics = pd.read_csv("/home/david/materiales/03-analisis-exploratorio/olympics.csv")
olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
# now if we want to check the colums, we could execute the following code
olympics.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [6]:
# and if we want to check how many data we have, we could use the commad .shape
olympics.shape

(271116, 15)

In [7]:
#Now if we want to see the values null in true and false, we will use the command .isnull()
olympics.isnull().head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,True,True,False,False,False,False,False,False,False,False,True
3,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [8]:
#And if we want to know the sum of all the values is possible use .sum()
olympics.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [9]:
#now if we want to add a filtter or a condition in our table, we could follow this structure
london = olympics.query('Games == "2012 Summer"')

In [10]:
london.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
98,34,Jamale (Djamel-) Aarrass (Ahrass-),M,30.0,187.0,76.0,France,FRA,2012 Summer,2012,Summer,London,Athletics,"Athletics Men's 1,500 metres",NaN
134,48,Abdelhak Aatakni,M,24.0,NaN,64.0,Morocco,MAR,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Light-Welterweight,NaN
164,67,Mariya Vasilyevna Abakumova (-Tarabina),F,26.0,179.0,80.0,Russia,RUS,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Javelin Throw,NaN
174,73,Luc Abalo,M,27.0,182.0,86.0,France,FRA,2012 Summer,2012,Summer,London,Handball,Handball Men's Handball,Gold

In [11]:
#and if we want to make a count about know if we have a repetitive name, we will use this command
london['Name'].value_counts()

Name
Koji Yamamuro                8
Oleh Yuriyovych Verniaiev    8
Kim Su-Myeon                 8
Flavius Koczi                8
Kristian James Thomas        8
                            ..
Ivan Horvat                  1
Lidija Horvat                1
Nikolina Horvat              1
Zlatko Horvat                1
ukasz Tomasz ygado           1
Name: count, Length: 10502, dtype: int64

In [12]:
#and as we could see, the fist data in the output was the most repetitve name, 
#and if we want to know why ot in what sport we use this structure.
london.query('Name == "Koji Yamamuro"')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
264446,132340,Koji Yamamuro,M,23.0,159.0,58.0,Japan,JPN,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,NaN
264447,132340,Koji Yamamuro,M,23.0,159.0,58.0,Japan,JPN,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Silver
264448,132340,Koji Yamamuro,M,23.0,159.0,58.0,Japan,JPN,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Floor Exercise,NaN
264449,132340,Koji Yamamuro,M,23.0,159.0,58.0,Japan,JPN,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,NaN
264450,132340,Koji Yamamuro,M,23.0,159.0,58.0,Japan,JPN,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Parallel Bars,NaN
264451,132340,Koji Yamamuro,M,23.0,159.0,58.0,Japan,JPN,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
264452,132340,Koji Yamamuro,M,23.0,159.0,58.0,Japan,JPN,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Rings,NaN
264453,132340,Koji Yamamuro,M,23.0,159.0,58.0,Japan,JPN,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,NaN

Now let's to validate the max and min values

In [13]:
min_value = olympics['Year'].min()

In [14]:
max_value = olympics['Year'].max()

In [15]:
total = max_value - min_value
total

120

Now I'll calculate the different centrality measures

In [16]:
olympics['Age'].mean()

25.556898357297374

In [17]:
olympics['Age'].median()

24.0

In [18]:
olympics['Age'].mode()

0    23.0
Name: Age, dtype: float64

Medidas de dispercion

In [19]:
olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [20]:
#Desviacion estandar
olympics['Age'].std()

6.393560847035813

In [21]:
#varianza
olympics['Age'].var()

40.87762030474931