In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.0.3'

#Creacion de DataFrames

In [6]:
personas = {
    "nombre": ["Juan", "David", "Pedro"],
    "edad": [34, 19, 28],
    "Nacionalidad": ["Colombia", "España", "Argentina"]
}

df = pd.DataFrame(personas)
df

  nombre  edad Nacionalidad
0   Juan    34     Colombia
1  David    19       España
2  Pedro    28    Argentina