In [1]:
import pandas as pd

In [4]:
# Building the data frame

personas = {
    "Nombre" : ["David", "Juan", "Pedro", "Tomas"],
    "Nacionalidad" : ["Colombia", "Argentina", "Mexico", "Espa単a"],
    "Edad" : ["20", "34", "18", "50"]
}

df_persona = pd.DataFrame(personas)
df_persona

  Nombre Nacionalidad Edad
0  David     Colombia   20
1   Juan    Argentina   34
2  Pedro       Mexico   18
3  Tomas       Espa単a   50

In [6]:
#Atributos de dataframe
df_persona.columns

Index(['Nombre', 'Nacionalidad', 'Edad'], dtype='object')

In [7]:
df_persona.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
df_persona.shape

(4, 3)

In [9]:
#the following comand will retun us the content of the dataframe but in a array
df_persona.values

array([['David', 'Colombia', '20'],
       ['Juan', 'Argentina', '34'],
       ['Pedro', 'Mexico', '18'],
       ['Tomas', 'Espa単a', '50']], dtype=object)

In [11]:
# now if we want to obtein the data of a particular colum we will use the following structure
df_persona['Nombre']

0    David
1     Juan
2    Pedro
3    Tomas
Name: Nombre, dtype: object

In [13]:
df_persona['Edad']

0    20
1    34
2    18
3    50
Name: Edad, dtype: object