In [1]:
import pandas as pd

In [4]:
# Building the data frame

personas = {
    "Nombre" : ["David", "Juan", "Pedro", "Tomas"],
    "Nacionalidad" : ["Colombia", "Argentina", "Mexico", "España"],
    "Edad" : ["20", "34", "18", "50"]
}

df_persona = pd.DataFrame(personas)
df_persona

  Nombre Nacionalidad Edad
0  David     Colombia   20
1   Juan    Argentina   34
2  Pedro       Mexico   18
3  Tomas       España   50