In [1]:
import pandas as pd

In [4]:
# Building the data frame

personas = {
    "Nombre" : ["David", "Juan", "Pedro", "Tomas"],
    "Nacionalidad" : ["Colombia", "Argentina", "Mexico", "España"],
    "Edad" : ["20", "34", "18", "50"]
}

df_persona = pd.DataFrame(personas)
df_persona

  Nombre Nacionalidad Edad
0  David     Colombia   20
1   Juan    Argentina   34
2  Pedro       Mexico   18
3  Tomas       España   50

In [6]:
#Atributos de dataframe
df_persona.columns

Index(['Nombre', 'Nacionalidad', 'Edad'], dtype='object')

In [7]:
df_persona.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
df_persona.shape

(4, 3)

In [9]:
#the following comand will retun us the content of the dataframe but in a array
df_persona.values

array([['David', 'Colombia', '20'],
       ['Juan', 'Argentina', '34'],
       ['Pedro', 'Mexico', '18'],
       ['Tomas', 'España', '50']], dtype=object)

In [11]:
# now if we want to obtein the data of a particular colum we will use the following structure
df_persona['Nombre']

0    David
1     Juan
2    Pedro
3    Tomas
Name: Nombre, dtype: object

In [13]:
df_persona['Edad']

0    20
1    34
2    18
3    50
Name: Edad, dtype: object

In [14]:
df_persona.Nacionalidad

0     Colombia
1    Argentina
2       Mexico
3       España
Name: Nacionalidad, dtype: object

In [16]:
# Read a file

df_example = pd.read_csv("/home/david/materiales/01-lectura-fuentes-datos/input/01-pokedex-sample.csv")

In [17]:
df_example

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
7,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
8,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False

In [21]:
df_example.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [22]:
df_example.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           9 non-null      int64
 1   Name        9 non-null      object
 2   Type 1      9 non-null      object
 3   Type 2      4 non-null      object
 4   Total       9 non-null      int64
 5   HP          9 non-null      int64
 6   Attack      9 non-null      int64
 7   Defense     9 non-null      int64
 8   Sp. Atk     9 non-null      int64
 9   Sp. Def     9 non-null      int64
 10  Speed       9 non-null      int64
 11  Generation  9 non-null      int64
 12  Legendary   9 non-null      bool
dtypes: bool(1), int64(9), object(3)
memory usage: 1001.0+ bytes

On the followng file to read we will not have a header, so I will indicate this case, because pandas is going to take the first line of the document as a header but it is not the header.

In [23]:
example = pd.read_csv("/home/david/materiales/01-lectura-fuentes-datos/input/01-pokedex-sample-no-header.csv")
example

,1,Bulbasaur,Grass,Poison,318,45,49,49.1,65,65.1,45.1,1.1,FALSE
0,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
1,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
2,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
3,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
4,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
5,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
6,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
7,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False

So as you can see, if we indicate that in the header the respective value is "None", pandas will put a number on their respective places

In [25]:
# Solution
example = pd.read_csv("/home/david/materiales/01-lectura-fuentes-datos/input/01-pokedex-sample-no-header.csv", header=None)
example

   0           1      2       3    4   5   6    7    8    9    10  11     12
0   1   Bulbasaur  Grass  Poison  318  45  49   49   65   65   45   1  False
1   2     Ivysaur  Grass  Poison  405  60  62   63   80   80   60   1  False
2   3    Venusaur  Grass  Poison  525  80  82   83  100  100   80   1  False
3   4  Charmander   Fire     NaN  309  39  52   43   60   50   65   1  False
4   5  Charmeleon   Fire     NaN  405  58  64   58   80   65   80   1  False
5   6   Charizard   Fire  Flying  534  78  84   78  109   85  100   1  False
6   7    Squirtle  Water     NaN  314  44  48   65   50   64   43   1  False
7   8   Wartortle  Water     NaN  405  59  63   80   65   80   58   1  False
8   9   Blastoise  Water     NaN  530  79  83  100   85  105   78   1  False

And now if you want to indicate the respective name for the respective colum, you can follow this structure

In [27]:
colum = ["#", "Name", "Type1", "Type2", "Total", "HP", "Attck", "Defense", "Sp. Atk", "Sp. Def", "Speed", "Generation", "Legendary"]

example = pd.read_csv("/home/david/materiales/01-lectura-fuentes-datos/input/01-pokedex-sample-no-header.csv", header=None, names=colum)
example

,#,Name,Type1,Type2,Total,HP,Attck,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
7,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
8,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False