In [14]:
import pandas as pd

In [4]:
# Building the data frame

personas = {
    "Nombre" : ["David", "Juan", "Pedro", "Tomas"],
    "Nacionalidad" : ["Colombia", "Argentina", "Mexico", "España"],
    "Edad" : ["20", "34", "18", "50"]
}

df_persona = pd.DataFrame(personas)
df_persona

  Nombre Nacionalidad Edad
0  David     Colombia   20
1   Juan    Argentina   34
2  Pedro       Mexico   18
3  Tomas       España   50

In [5]:
#Atributos de dataframe
df_persona.columns

Index(['Nombre', 'Nacionalidad', 'Edad'], dtype='object')

In [6]:
df_persona.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
df_persona.shape

(4, 3)

In [8]:
#the following comand will retun us the content of the dataframe but in a array
df_persona.values

array([['David', 'Colombia', '20'],
       ['Juan', 'Argentina', '34'],
       ['Pedro', 'Mexico', '18'],
       ['Tomas', 'España', '50']], dtype=object)

In [9]:
# now if we want to obtein the data of a particular colum we will use the following structure
df_persona['Nombre']

0    David
1     Juan
2    Pedro
3    Tomas
Name: Nombre, dtype: object

In [10]:
df_persona['Edad']

0    20
1    34
2    18
3    50
Name: Edad, dtype: object

In [11]:
df_persona.Nacionalidad

0     Colombia
1    Argentina
2       Mexico
3       España
Name: Nacionalidad, dtype: object

In [12]:
# Read a file

df_example = pd.read_csv("/home/david/materiales/01-lectura-fuentes-datos/input/01-pokedex-sample.csv")

In [13]:
df_example

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
7,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
8,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False

In [14]:
df_example.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [15]:
df_example.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           9 non-null      int64
 1   Name        9 non-null      object
 2   Type 1      9 non-null      object
 3   Type 2      4 non-null      object
 4   Total       9 non-null      int64
 5   HP          9 non-null      int64
 6   Attack      9 non-null      int64
 7   Defense     9 non-null      int64
 8   Sp. Atk     9 non-null      int64
 9   Sp. Def     9 non-null      int64
 10  Speed       9 non-null      int64
 11  Generation  9 non-null      int64
 12  Legendary   9 non-null      bool
dtypes: bool(1), int64(9), object(3)
memory usage: 1001.0+ bytes

On the followng file to read we will not have a header, so I will indicate this case, because pandas is going to take the first line of the document as a header but it is not the header.

In [16]:
example = pd.read_csv("/home/david/materiales/01-lectura-fuentes-datos/input/01-pokedex-sample-no-header.csv")
example

,1,Bulbasaur,Grass,Poison,318,45,49,49.1,65,65.1,45.1,1.1,FALSE
0,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
1,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
2,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
3,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
4,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
5,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
6,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
7,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False

So as you can see, if we indicate that in the header the respective value is "None", pandas will put a number on their respective places

In [17]:
# Solution
example = pd.read_csv("/home/david/materiales/01-lectura-fuentes-datos/input/01-pokedex-sample-no-header.csv", header=None)
example

   0           1      2       3    4   5   6    7    8    9    10  11     12
0   1   Bulbasaur  Grass  Poison  318  45  49   49   65   65   45   1  False
1   2     Ivysaur  Grass  Poison  405  60  62   63   80   80   60   1  False
2   3    Venusaur  Grass  Poison  525  80  82   83  100  100   80   1  False
3   4  Charmander   Fire     NaN  309  39  52   43   60   50   65   1  False
4   5  Charmeleon   Fire     NaN  405  58  64   58   80   65   80   1  False
5   6   Charizard   Fire  Flying  534  78  84   78  109   85  100   1  False
6   7    Squirtle  Water     NaN  314  44  48   65   50   64   43   1  False
7   8   Wartortle  Water     NaN  405  59  63   80   65   80   58   1  False
8   9   Blastoise  Water     NaN  530  79  83  100   85  105   78   1  False

And now if you want to indicate the respective name for the respective colum, you can follow this structure

In [18]:
colum = ["#", "Name", "Type1", "Type2", "Total", "HP", "Attck", "Defense", "Sp. Atk", "Sp. Def", "Speed", "Generation", "Legendary"]

example = pd.read_csv("/home/david/materiales/01-lectura-fuentes-datos/input/01-pokedex-sample-no-header.csv", header=None, names=colum)
example

,#,Name,Type1,Type2,Total,HP,Attck,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
7,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
8,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False

Now the next step is read a file that has a divition by tabs, and if we read that file with that tab we will obten the following resoult

In [19]:
example_tabs = pd.read_csv("/home/david/materiales/01-lectura-fuentes-datos/input/01-pokedex-sample-tabs.txt")

  Pokedex\tName\tType 1\tType 2\tTotal\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t318\t45\t49\t49\t...
1  2\tIvysaur\tGrass\tPoison\t405\t60\t62\t63\t80...
2  3\tVenusaur\tGrass\tPoison\t525\t80\t82\t83\t1...
3  4\tCharmander\tFire\t\t309\t39\t52\t43\t60\t50...
4  5\tCharmeleon\tFire\t\t405\t58\t64\t58\t80\t65...
5  6\tCharizard\tFire\tFlying\t534\t78\t84\t78\t1...
6  7\tSquirtle\tWater\t\t314\t44\t48\t65\t50\t64\...
7  8\tWartortle\tWater\t\t405\t59\t63\t80\t65\t80...
8  9\tBlastoise\tWater\t\t530\t79\t83\t100\t85\t1...

And the issue could be the following structure, so as we can see, we only had to add the parameter "sep" and indicate by what we wanted to pull apart(in this case was a tab for that reason we indicated the '\t')

In [21]:
example_tabs = pd.read_csv("/home/david/materiales/01-lectura-fuentes-datos/input/01-pokedex-sample-tabs.txt", sep='\t')
example_tabs

,Pokedex,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
7,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
8,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False

So now if we want to have a dataframe in a file ".csv" we will use the comand "to_csv", and this command in the same folder id going to save a file .csv with the information of the dataframe

In [22]:
example_tabs.to_csv('example.csv')

Now we will do the same procese, but this time with the excel file, so the structure to read this file would be like this:

and if we want to see the first data, we use the command ".head()", and if we want to see the last data we use the command ".tail()"

In [30]:
df_excel = pd.read_excel("/home/david/materiales/01-lectura-fuentes-datos/input/02-pokedex.xlsx")
df_excel
#df_excel.head()
#df_excel.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
147,148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,False
148,149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,False
149,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False

but with that we have a issue that is, with that commad we onle read the fist papper, but if we have more than 1 papper, we will use indicate the name of the papper, and the following structure

In [33]:
df_excel = pd.read_excel("/home/david/materiales/01-lectura-fuentes-datos/input/02-pokedex.xlsx", sheet_name="gen_6")
df_excel.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
1,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
2,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
3,653,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False
4,654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False

Lectura de archivos Json

In [27]:
#First we have to make the respective importation of json by python
import json

In [31]:
#Then we have to open the file we want to read
file = open("/home/david/materiales/01-lectura-fuentes-datos/input/04-pokedex-json.json")
json_file = json.load(file)
file.close()

In [32]:
pd.DataFrame(json_file)

,num,name,img,type,height,weight,weaknesses,next_evolution
0,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,"[Fire, Ice, Flying, Psychic]","{'num': '002', 'name': 'Ivysaur'}"
1,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,"[Fire, Ice, Flying, Psychic]","{'num': '003', 'name': 'Venusaur'}"
2,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,"[Fire, Ice, Flying, Psychic]",None
3,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,"[Water, Ground, Rock]","{'num': '005', 'name': 'Charmeleon'}"
4,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,"[Water, Ground, Rock]","{'num': '006', 'name': 'Charizard'}"
5,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"[Fire, Flying]",1.70 m,90.5 kg,"[Water, Electric, Rock]",None
6,7,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,[Water],0.51 m,9.0 kg,"[Electric, Grass]","{'num': '008', 'name': 'Wartortle'}"
7,8,Wartortle,http://www.serebii.net/pokemongo/pokemon/008.png,[Water],0.99 m,22.5 kg,"[Electric, Grass]","{'num': '009', 'name': 'Blastoise'}"
8,9,Blastoise,http://www.serebii.net/pokemongo/pokemon/009.png,[Water],1.60 m,85.5 kg,"[Electric, Grass]",None

In [ ]:
#And another way to read this kind of files that needs a command close, could be the following structure
with open("/home/david/materiales/01-lectura-fuentes-datos/input/04-pokedex-json.json") as file:
    json_file = json.load(file)

In [35]:
#or we could do the same by pandas like this
dataframe_file = pd.read_json("/home/david/materiales/01-lectura-fuentes-datos/input/04-pokedex-json.json")
dataframe_file

,num,name,img,type,height,weight,weaknesses,next_evolution
0,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,"[Fire, Ice, Flying, Psychic]","{'num': '002', 'name': 'Ivysaur'}"
1,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,"[Fire, Ice, Flying, Psychic]","{'num': '003', 'name': 'Venusaur'}"
2,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0 kg,"[Fire, Ice, Flying, Psychic]",None
3,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5 kg,"[Water, Ground, Rock]","{'num': '005', 'name': 'Charmeleon'}"
4,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0 kg,"[Water, Ground, Rock]","{'num': '006', 'name': 'Charizard'}"
5,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"[Fire, Flying]",1.70 m,90.5 kg,"[Water, Electric, Rock]",None
6,7,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,[Water],0.51 m,9.0 kg,"[Electric, Grass]","{'num': '008', 'name': 'Wartortle'}"
7,8,Wartortle,http://www.serebii.net/pokemongo/pokemon/008.png,[Water],0.99 m,22.5 kg,"[Electric, Grass]","{'num': '009', 'name': 'Blastoise'}"
8,9,Blastoise,http://www.serebii.net/pokemongo/pokemon/009.png,[Water],1.60 m,85.5 kg,"[Electric, Grass]",None